*.pyc
*.bak
build/
dist/
hitran_api.egg-info/
*~

species_plots_2500_3500/
species_plots_2500_3500_multiTP/
species_plots_2500_3500_test/
5_species/
methane_vibrational_bands/
ch4_nu3_progressions/
exomol_db/
hitemp_db/
exomol_ch4_mm_page.html
exomol_ch4_mm_plots/
exomol_ch4_mm_scans/
classify/
